<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Post Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bulma.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="Site">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/posts}">Home</a>

            <a class="navbar-item" th:href="@{/posts/search}">Search</a>

            <a class="navbar-item" th:href="@{/statistics}">Statistics</a>
        </div>
    </div>

</nav>

<div class="Site-content">
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Blog
                </h1>
                <h2 class="subtitle">
                    Artur Jałocha
                </h2>
            </div>
        </div>
    </section>
    <section class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <div class="error">
                        <h1> Ups, coś zrobiłeś nie tak </h1>
                        <span th:if="${errorMessage}">Powód błędu jest poniżej: <br> </span>
                        <span th:if="${errorMessage}" th:utext="${errorMessage}"></span>
                        <br>
                        <h1 th:if="!${errorMessage}">Strona nie istnieje</h1>
                        <p> <a th:href="@{/posts}"> Wróć do strony głownej</a> </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer Custom-footer">
    <div class="content has-text-centered">
        <p>
            <strong>Artur Jałocha 2020</strong>
        </p>
    </div>
</footer>
</body>
</html>
