<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Post Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bulma.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="Site">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <div>
                <a class="navbar-item" th:href="@{/}">Zakończ</a>
            </div>
            <div>
                <a class="navbar-item" th:href="@{/posts/search}">Szukaj</a>
            </div>
            <div>
                <a class="navbar-item" th:href="@{/statistics}">Statystyka</a>
            </div>

            <div sec:authorize="hasAnyAuthority('ADMIN','CREATOR','EDITOR')">
                <a class="navbar-item" th:href="@{/posts/tylkomojeposty}">Moje posty</a>
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN','CREATOR','EDITOR')">
                <a class="navbar-item" th:href="@{/settings}">Import / Export</a>
            </div>

        </div>
    </div>
    </div>
</nav>

<div class="Site-content">
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Blog
                </h1>
                <h2 class="subtitle">
                    Statystyka postów
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-justify-content-center">
                <div class="column is-four-fifths">
                    <div class="box is-centered has-text-centered">
                        <table class="table" style="width: 60vw" align="center">
                            <thead>
                            <tr>
                                <th>Pozycja</th>
                                <th>Autor</th>
                                <th>Liczba postów</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="postStat, index: ${statistics}">
                                <th th:text="${index.index + 1}"></th>
                                <th th:text="${postStat.getName()}"></th>
                                <th th:text="${postStat.getCount()}"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer Custom-footer">
    <div class="content has-text-centered">
        <p>
            <strong>Artur Jałocha 2020</strong>
        </p>
    </div>
</footer>
</body>
</html>
